body {
	margin-top: 100;
	background-color: rgb(131, 85, 0);
	color: #e6e6fa;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 4em;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 200;
	margin: auto;
}

h2 {
	text-align: center;
	font-weight: 300;
}

h3 {
	text-align: center;
	font-weight: 200;
}

a {
	color: #fff;
}

.content {
	margin-top: 5rem;
	text-align: center;
}

.shitmoji-container {
	display: inline-block;
	text-align: center;
	width: 25rem;
	background-color: #ffcc6e;
	border: thin solid #e6e6fa;
	border-radius: .2rem;
	padding: 15;
}

.shitmoji {
	display: inline-block;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	white-space: pre;
	font-size: 2rem;
}
